.home-container {
    padding: 27px 0px 0px 40px;
}

.start-button {
    color: #fff;
}

.home-text-container {
    margin-bottom: 27px;
}

.home-text-container h1 {
    font-size: 48px;
    margin: 0px;
}

.home-text-container p {
    color: #7E7E7E;
    font-weight: 700;
    font-size: 24px;
}

.btn-icon {
    font-size: 16px;
}